* {
  box-sizing: border-box;
  overflow: auto;
}

.AdoptionPage {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: sans-serif;
  left: 0;
  top: 0;
}

.AdoptionPagePrimary {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

main.Adoption {
  width: 100vw;
  position: fixed;
  top: 15vh;
  height: 85vh;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.PetContainer-cats {
  margin: 5vh;
  padding: 0;
  max-width: 502px;
}

.PetContainer-dogs {
  margin: 5vh;
  padding: 0;
  max-width: 502px;
}

.PetImage {
  max-width: 500px;
  width: 40vw;
  height: 35vh;
  border: 1px solid black;
  border-radius: 30px 0px 30px 0px;
}

.AdoptionButton {
  margin: 16px;
  border: none;
  background: #383838;
  color: #ffffff !important;
  font-weight: 100;
  padding: 12px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.5s ease 0s;
  outline: none;
}

.AdoptionButton:hover {
  color: #383838 !important;
  font-weight: 500;
  letter-spacing: 2px;
  background: #f9f6f6;
  box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease 0s;
}

.AdoptionQueue {
  position: absolute;
  right: 5vw;
  bottom: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QueueForm input {
  width: 80%;
  height: 100%;
  color: grey;
  padding-top: 10px;
  font-size: 20px;
  border: none;
  text-align: center;
  outline: none;
  border: 1px solid black;
}

.QueueForm label {
  position: relative;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
}

.QueueButton {
  margin: 16px;
  border: none;
  background: #383838;
  color: #ffffff !important;
  font-weight: 100;
  padding: 12px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.5s ease 0s;
  outline: none;
}

.QueueButton:hover {
  color: #383838 !important;
  font-weight: 500;
  letter-spacing: 1px;
  background: #f9f6f6;
  box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease 0s;
}

.UserList {
  font-weight: 750;
  text-align: center;
  padding: 0;
}
